.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabuleiro {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
  margin-top: 20px;
}

.carta {
  width: 100px;
  height: 100px;
  background-color: #500064;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.carta img {
  width: 60%;
  object-fit: cover;
  display: none;
}

.carta.virada img {
  display: block;
  background-color: #2ecc71;
}

.carta.virada {
  background-color: #2ecc71;
}